{% extends 'base.html.twig' %}

{% block title %}AssoNuaire{% endblock %}

{% block body %}
    <header class="header">
        <h1>Bienvenue sur AssoNuaire</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At commodi doloremque, ea eaque modi obcaecati
            optio
            quibusdam. Accusamus consequatur cupiditate iure libero magnam, mollitia obcaecati quaerat quia ratione rem
            sequi.
        </p>
    </header>
    <section class="map">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">MAP</h5>
                </div>
            </a>
        </div>
    </section>

    <section class="search-bar">
        <div class="form-group">
            <label class="col-form-label mt-4" for="inputDefault">Recherche</label>
            <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
        </div>
    </section>

    <section class="select-thematic">
        <fieldset class="form-group">
            <legend class="mt-4">Thématiques</legend>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Default checkbox
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
                <label class="form-check-label" for="flexCheckChecked">
                    Checked checkbox
                </label>
            </div>
        </fieldset>
    </section>

    <section class="last-five">
        <h2>Les dernières associations</h2>
        {% for association in associations %}
            <div class="card my-3">
                <div class="card">
                    <h3 class="card-header">{{ association.name }}</h3>
                    <img class="card-header__img px-1"
                         src="{{ asset('images/upload/association/' ~ association.pictures | first) }}"
                         alt="{{ association.name }}">
                    <div class="card-body">
                        <div class="accordion" id="accordionAsso">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne{{ association.id }}" aria-expanded="true"
                                            aria-controls="collapseOne{{ association.id }}">
                                        Description
                                    </button>
                                </h2>
                                <div id="collapseOne{{ association.id }}" class="accordion-collapse collapse"
                                     aria-labelledby="headingOne"
                                     data-bs-parent="#accordionAsso" style="">
                                    <div class="accordion-body">
                                        {{ association.description }}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo{{ association.id }}" aria-expanded="false"
                                            aria-controls="collapseTwo{{ association.id }}">
                                        Activités
                                    </button>
                                </h2>
                                <div id="collapseTwo{{ association.id }}" class="accordion-collapse collapse"
                                     aria-labelledby="headingTwo"
                                     data-bs-parent="#accordionAsso" style="">
                                    <div class="accordion-body">
                                        <ul>
                                            {% for activity in association.activities %}
                                                <li>
                                                    {{ activity.name }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        {% for thematic in association.thematics %}
                            {{ '#' ~ thematic.name }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
